name: Build, Scan & Push Docker Image

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ghcr.io/the-may/telegram_dicebot:latest \
                       -t ghcr.io/the-may/telegram_dicebot:${{ github.sha }} .

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: image
          image-ref: ghcr.io/the-may/telegram_dicebot:${{ github.sha }}
          format: table
          severity: CRITICAL,HIGH
          exit-code: 1
          ignore-unfixed: true

      - name: Push Docker image (if scan passed)
        if: success()
        run: |
          docker push ghcr.io/the-may/telegram_dicebot:latest
          docker push ghcr.io/the-may/telegram_dicebot:${{ github.sha }}
